<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./bs.css">
    <title>Deutsch</title>
</head>

<body>
    <div id="main_container">
        <div v-if="!submitted">
            <p>"Tab"(\t), "::", "//", "--", "__" are valid seperators</p>
            <textarea class="notsubmitted" v-model="textarea"></textarea>
            <button v-on:click="submit">Submit</button>
        </div>
        <button v-if="submitted" class="toggleall" v-on:click="toggleAll">Toggle All</button>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <p class="col-3 word" v-on:dblclick="clicked(index)" v-for="(word,index) in words" v-bind:class="paragraphClass(word)">{{word.context}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button v-if="submitted" class="toggleall" v-on:click="toggleAll">Toggle All</button>
            <textarea v-if="submitted" class="submitted" v-model="textarea"></textarea>
        </div>
    </div>
</body>

</html>
<script src="./vue.js"></script>
<script>
    var app = new Vue({
        el: '#main_container',
        data: {
            artikels: ["der", "die", "das"],
            hide: false,
            submitted: false,
            textarea: "der::Apfel__Apple\ndie--Kartoffel//Potato\ndas__Auto\nganz\nlecker",
            words: [],
            longall: false,
            splitLibrary: {
                flatten: function (arr) {
                    var self = this;
                    return arr.reduce(function (acc, val) {
                        return acc.concat(val.constructor === Array ? self.flatten(val) : val);
                    }, []);
                },
                traverseListFunc: function (list, expression, index, func) {
                    var self = this;
                    if (list[index]) {
                        if ((list.constructor !== String) && (list[index].constructor === String))
                            (list[index] != func(list[index], expression)) ? list[index] = func(list[index], expression) : null;
                        (list[index].constructor === Array) ? self.traverseListFunc(list[index], expression, 0, func) : null;
                        (list.constructor === Array) ? self.traverseListFunc(list, expression, index + 1, func) : null;
                    }
                },
                mapFuncToString: function (string, expressions, func) {
                    var self = this;
                    var list = [string];
                    for (var i = 0, len = expressions.length; i < len; i++) {
                        self.traverseListFunc(list, expressions[i], 0, func);
                    }
                    return self.flatten(list);
                },
                splitString: function (string, splitters) {
                    return this.mapFuncToString(string, splitters, function (item, expression) {
                        return item.split(expression);
                    })
                },

            }
        },
        methods: {
            paragraphClass(word) {
                console.log("test")
                return {
                    der: word.artikel == "der" && word.long == true,
                    die: word.artikel == "die" && word.long == true,
                    das: word.artikel == "das" && word.long == true,
                }
            },
            submit() {
                this.submitted = true;
                var words = this.textarea.split("\n")
                this.shuffle(words)
                words.forEach(word => {
                    var wordArray = this.splitLibrary.splitString(word, ["\t", "::", "//", "--", "__"])
                    console.log(wordArray)
                    if (this.artikels.includes(wordArray[0])) { //first tab is artikel
                        var wordO = {
                            hasArtikel: true,
                            artikel: wordArray[0].toLowerCase(),
                            word: wordArray[1],
                            meaning: "",
                            context: wordArray[1],
                            long: false
                        }
                        if (wordArray[2]) wordO.meaning = wordArray[2]
                    }
                    else { //direct word
                        var wordO = {
                            hasArtikel: false,
                            meaning: "",
                            context: word
                        }
                        if (wordArray[1]) wordO.meaning = wordArray[1]
                    }
                    this.words.push(wordO)
                });

            },
            long(i) {
                if (this.words[i].hasArtikel) {
                    this.words[i].context = this.words[i].artikel + " " + this.words[i].word + " > " + this.words[i].meaning
                    this.words[i].long = true
                }
            },
            short(i) {
                if (this.words[i].hasArtikel) {
                    this.words[i].context = this.words[i].word
                    this.words[i].long = false
                }
            },
            toggleAll() {
                if (this.longall) {
                    for (var i = 0; i < this.words.length; i++) {
                        this.short(i)
                    }
                    this.longall = false;
                }
                else {
                    for (var i = 0; i < this.words.length; i++) {
                        this.long(i)
                    }
                    this.longall = true;
                }
            },
            toggle(i) {
                if (this.words[i].hasArtikel) {
                    if (this.words[i].long) {
                        this.short(i)
                    }
                    else {
                        this.long(i)
                    }
                }
            },
            clicked(i) {
                this.toggle(i)
            },
            shuffle(a) {
                for (let i = a.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [a[i], a[j]] = [a[j], a[i]];
                }
                return a;
            }
        }
    })

</script>
<style>
    /* body * {
        border: 1px solid grey;
    } */

    #main_container {
        display: block;
    }

    textarea.notsubmitted {
        display: block;
        width: 200px;
        height: 300px;
    }

    textarea.submitted {
        display: block;
        margin-top: 5vh;
        width: 25vw;
        height: 20vh;
    }

    /* div.submitted{
        border: 5px solid black;
        display: flex;
        justify-content: center;
    } */

    .word {
        text-align: center;
    }

    p.der {
        font-weight: bold;
        color: blue;
    }

    p.die {
        font-weight: bold;
        color: rgb(255, 0, 255);
    }

    p.das {
        font-weight: bold;
    }

    .toggleall {
        display: block;
        font-size: 1.5em;
        padding: 1.5vh 5vw;
        margin-bottom: 2vh;
    }
</style>