<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="./lib/bs.css">
   <link rel="stylesheet" href="./css/style.css">
   <title>Deutsch</title>
</head>

<body>
   <div id="main_container">

      <!-- FIXED HEADER -->
      <div class="header">

         <!-- VERSION SELECTION DIV -->
         <div class="version-selection">
            <input type="radio" id="version-desktop" value="desktop" v-model="version" v-on:change="versionChanged">
            <label for="version-desktop">Desktop</label>
            <input type="radio" id="version-mobile" value="mobile" v-model="version">
            <label for="version-mobile">Mobile</label><br>
         </div>

         <div v-show="submitted" class="utility-buttons">
            <!-- BUTTON FOR TOGGLING VISIBILITY OF INPUT TEXT AREA -->
            <a class="button" v-on:click="toggleInputDiv">{{toggleInputButtonText}}</a>

            <a class="button" v-on:click="randomize">Randomize Again</a>

            <a class="button" v-on:click="toggleAll">Toggle All</a>
         </div>

      </div>
      <div class="wrapper"></div>

      <h3 v-if="debugEnabled">Debug mode is enabled!</h3>




      <!-- INPUTS -->
      <div class="input-div" v-show="!hideInputDiv">
         <!-- INPUT TEXTAREA -->
         <textarea class="input" v-model="textarea" autofocus></textarea><br>

         <!-- WORD LIMIT SLIDER -->
         <span>Limit the maximum word quantity. Slide to 0 in order to remove limit.</span><br>
         <input type="range" min="0" max="100" v-model="wordLimit">{{wordLimit}}<br>
         <p class="word-limit-description"><span v-show="wordLimit=='0'">All words are going to be submitted</span></p>

         <!-- BUTTONS -->
         <button v-on:click="submit">Submit</button><br>
         <button v-on:click="toggleHowToGif">HOW TO (GIF)</button>
         <iframe v-if="showHowTo" src='https://gfycat.com/ifr/NastyFavorableArmednylonshrimp' style="display: block;" frameborder='0' scrolling='no' allowfullscreen width='640' height='360'></iframe>
      </div>

      <!-- WORDS LISTS DIV -->
      <div class="container-fluid">
         <div class="row">
            <div class="col-12">
               <div class="row">
                  <div class="wordContainer" v-bind:class="wordContainerClass(word)" v-for="(word,index) in words" :key="randomizeCounter">
                     <div class="word" v-on:dblclick="wordDblClick(index)" v-on:click="wordClick(index)" v-bind:class="wordClass(word)">{{word.context}}</div>
                     <div class="marker" v-bind:class="markerClass(word)" v-on:click="markerClick(index)"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</body>

<script src="./lib/vue.js"></script>
<script src="./lib/util.js"></script>
<script src="./js/v2.js"></script>
<script>


</script>


</html>
