<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   <link rel="stylesheet" href="./lib/bs.css">
   <link rel="stylesheet" href="./css/anim.css">
   <link rel="stylesheet" href="./css/stylemobile.css">
   <title>Deutsch</title>
</head>

<body>
   <div id="main_container" @mouseup="touch('end', $event)" @touchend="touch('end', $event)">
      <textarea v-show="showMarked" id="marked" class="input"></textarea>
      <Transition appear name="fade">
         <div v-if="notification" class="notification" v-html="notification"></div>
      </Transition>

      <h3 v-if="debugEnabled" style="position: absolute;">Debug mode is enabled!</h3>

      <!-- INPUTS -->
      <div class="input-div" v-show="!hideInputDiv">
         <!-- INPUT TEXTAREA -->
         <!-- der | Tisch | Masa -->
         <textarea class="input" v-model="textarea" autofocus></textarea><br>



         <!-- WORD LIMIT SLIDER -->
         <span>Limit the maximum word quantity. Slide to 0 in order to remove limit.</span><br>
         <input type="range" min="0" max="100" v-model="wordLimit">{{wordLimit}}<br>
         <p class="word-limit-description"><span v-show="wordLimit=='0'">Slider is 0. No words will be removed, you'll see all of the words you have in the input field.</span></p>

         <!-- BUTTONS -->
         <button v-on:click="submit">Start!</button><br>
      </div>

      <!-- WIP -->
      <!-- <div v-if="submitted" class="tabs_container flex_row">
         <div class="button tab" v-for="i in 4">TAB (WIP)</div>
      </div> -->

      <!-- WORDS LISTS DIV -->
      <div class="container-fluid words_container">
         <div class="word" v-for="(word,index) in wordsModel.words" :key="randomizeCounter" v-bind:class="wordClass(word)"
            @mousedown="touch('start', $event, index)" @mousemove="touch('move', $event, index)" @mouseup="touch('end', $event, index)"
            @touchstart="touch('start', $event, index)" @touchmove="touch('move', $event, index)" @touchend="touch('end', $event, index)">
            {{word.context}}
            <div class="slideable_area"><div class="content">Mark</div></div>
         </div>
      </div>

      <div v-if="submitted" class="buttons_container">
         <div class="button" v-on:click="shuffle">Shuffle</div>
         <div class="button" v-on:click="toggleAll">Toggle All</div>
         <div class="button" v-on:click="copyAll">Copy All</div>
         <div class="button" v-on:click="copyMarked">Copy Marked</div>
         <!-- WIP -->
         <!-- <div class="button">Show Marked (WIP)</div>
         <div class="button">More (WIP)</div> -->
      </div>
   </div>
</body>

<script src="./lib/vue.js"></script>
<script src="./lib/util.js"></script>
<script src="./js/wordManager.js"></script>
<script src="./js/v2mobile.js"></script>
<script>


</script>


</html>
