html {
   font-size: 28px;
}

#main_container {
   margin: 2px 2px;
   height: calc(100vh - 6px);
}

body,
.buttons_container {
   max-width: 1200px;
   margin: auto;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   /* border: 1px dashed black; */
}

.nopadding {
   margin: 0px !important;
   padding: 0px !important;
}


button {
   padding: 0.5rem 1rem;
}

.buttons_container {
   border-radius: 10px;
   border: 1px solid black;
   border-bottom: unset;

   position: fixed;
   display: flex;
   justify-content: center;
   gap: 10px;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   background: white;
   padding: 0.3rem 0;
   border-top: 1px solid black;
}

.button {
   font-size: 0.75rem;
   font-weight: lighter;
   padding: 0.45rem 0.7rem;
   cursor: pointer;
   border: 1px solid gray;
   border-radius: 10px;
   white-space: nowrap;

   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
}

.button:hover {
   background-color: #eee;
}

.button:active {
   background-color: #e0e0e0;
}

textarea {
   width: 15rem;
   height: 40vh;
}

/* .wordContainer {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
} */


.words_container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-evenly;
   gap: 40px;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.word {
   display: flex;
   position: relative;
   align-items: center;
   text-align: center;
   justify-content: center;
   align-items: center;
   width: 85vw;
   max-width: 560px;
   min-height: 12vh;

   border: 1px solid #ddd;
   border-radius: 5px;
   font-size: 1rem;

   overflow-x: hidden;
   overflow-y: visible;
   overflow-wrap: anywhere;
}

.word.marked {
   border: 2px solid red;
   background-color: rgb(255, 230, 230);
   font-size: 1.1rem;
}

.der {
   font-weight: bold;
   color: blue;
}

.die {
   font-weight: bold;
   color: rgb(255, 0, 255);
}

.das {
   font-weight: bold;
}

/* .marker {
   width: 2.5rem;
   height: 2.5rem;
   background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,170,170,1) 10%, white 75%);
}

.marker.active{
   background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 30%, white 60%);
} */

.word-limit-description {
   font-size: 0.8rem;
   font-weight: bold;
   display: block;
   height: 1rem;
   color: orange;
}

#marked {
   position: fixed;
   z-index: 1;
}

.flex {
   display: flex;
}

.flex_row {
   display: flex;
   flex-direction: row;
}

.flex_column {
   display: flex;
   flex-direction: column;
}

.justify_center {
   justify-content: center;
}

.justify_space_around {
   justify-content: space-around;
}

.save_entry_outer_container {
   border: 1px solid #ccc;
   border-radius: 5px;
}

.save_entry input {
   width: 80%;
}

.text_cut {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.no_padding,
a.no_padding,
.button.no_padding {
   padding: unset;
}

.flex_no_shrink {
   flex-shrink: 0;
}

.notification {
   font-weight: bold;
   background-color: #AAF;
   position: fixed;
   border: 2px solid #000;
   border-radius: 10px;
   padding: 10px;
   left: 50%;
   transform: translate(-50%);
}

.slideable_area {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 0;
   overflow: hidden;
   background-color: white;
   max-width: max-content;
}

.slideable_area:not(.animating) {
   transition: all 0.1s ease-in-out;
}

.slideable_area .content {
   height: 100%;
   padding: 0 10px;
   border: 1px solid black;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.tabs_container {
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10px;
   padding-bottom: 5px;
   border-bottom: 1px solid black;
}