* {
   margin: 0px;
   padding: 0px;
   /* border: 1px dashed black; */
}

button{
   padding: 0.5rem 1rem;
}

body{
   background-color: #f1f1f1;
}

.wrapper {
   width: 100%;
   height: 2.5rem;
}
.header {
   position: fixed;
   z-index: 1;

   width: 15rem;
   height: 2rem;
   border-bottom-left-radius: 0.33rem;
   border-bottom-right-radius: 0.33rem;

   padding-left: 1.5rem;

   background-color: white;
}
.version-selection input:not(:first-child){
   margin-left: 0.5rem;
}
.version-selection label{
   font-size: 1.25rem;
   font-weight: lighter;
}

textarea{
   width: 15rem;
   height: 40vh;
}

.wordContainer {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 1px solid black; */
}

.word{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 85%;
   height: 3.5rem;

   border-radius: 5px;
   font-size: 1rem;
}

.word.desktop{
   border: 1px solid #ddd;
}
.word.mobile{
   border: 2px solid #ddd;
}

.word.marked{
   border: 2px solid red;
   background-color: rgb(255, 230, 230);
   font-size: 1.1rem;
}

.der {
    font-weight: bold;
    color: blue;
}

.die {
    font-weight: bold;
    color: rgb(255, 0, 255);
}

.das {
    font-weight: bold;
}

.marker {
   /* border: 1px solid black; */
   width: 2.5rem;
   height: 2.5rem;
   background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,170,170,1) 10%, #f1f1f1 75%);
}

.marker.active{
   background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 30%, #f1f1f1 60%);
}
