* {
   margin: 0px;
   padding: 0px;
   /* border: 1px dashed black; */
}

button{
   padding: 0.5rem 1rem;
}

.wrapper {
   width: 100%;
   height: 1.75rem;
}
.header {
   position: fixed;
}
.header label{
   font-size: 1.3rem;
   font-weight: lighter;
}

textarea{
   width: 15rem;
   height: 40vh;
}

.wordContainer {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 1px solid black; */
}

.word{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 85%;
   height: 3.5rem;

   border-radius: 5px;
   font-size: 1rem;
}

.word.desktop{
   border: 1px solid #e5e5e5;
}
.word.mobile{
   border: 2px solid #e5e5e5;
}

.word.marked{
   border: 2px solid red;
   background-color: rgb(255, 230, 230);
   font-size: 1.1rem;
}

.der {
    font-weight: bold;
    color: blue;
}

.die {
    font-weight: bold;
    color: rgb(255, 0, 255);
}

.das {
    font-weight: bold;
}

.marker {
   /* border: 1px solid black; */
   width: 25px;
   height: 25px;
   background: radial-gradient(circle, rgba(255,120,120,1) 0%, rgba(255,255,255,1) 60%);
}

.marker.active{
   background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 30%, rgba(255,255,255,1) 60%);
}
